//
// Variables
// --------------------------------------------------

// Global values
// --------------------------------------------------
@box:				1290px;

// Grays
// -------------------------
@black:                 #000;
@gray:                  #eee;
@white:                 #fff;

// colors
// -------------------------
@main: 					#679938;
@color02: 				#50d0bf;

// gradients
// -------------------------

// General
// -------------------------
@bodyBackground:        #f4f4f4;
@textColor:             #333333;


// Links
// -------------------------
@linkColor:             @main;
@linkColorHover:        darken(@linkColor, 15%);


// Typography
// -------------------------
@baseFontSize:          16px;
@baseLineHeight:        30px;

@font:        			'Open Sans', sans-serif;
@titlefont:         	'Open Sans', sans-serif;


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

@padding:          11px 19px;
@space:                 20px;
